*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.br_sp {
    display: none;
}

.pt-2rem {
    padding-top: 2rem;
}

.top_footer_wrap.pc {
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    padding-bottom: 993px;
    /* footerの高さ */
}

.register_footer_wrap {
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    padding-bottom: 710px;
    /* footerの高さ */
}

.register-comp_footer_wrap {
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    padding-bottom: 316px;
    /* footerの高さ */
}

.login_footer_wrap {
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    padding-bottom: 687px;
    /* footerの高さ */
}

.pass_reset_footer_wrap {
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    padding-bottom: 384px;
    /* footerの高さ */
}

.footer_wrap {
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    padding-bottom: 200px;
    /* footerの高さ */
}

header {
    width: 100%;
    // max-width: 1100px;
    // margin: 0 auto 5px auto;
    z-index: 10;
    position: sticky;
    top: 0;
    background-color: #fff;

    .pc.flexer {
        display: flex;
        align-items: center;
        background-color: #fff;
        position: relative;

        h1 {
            background-color: #1A89DA;
            // max-width: 126px;
            padding: 20px;
            margin-right: 20px;
        }

        ul {
            margin-right: auto;

            li {
                font-size: 1.5rem;
                position: relative;
                padding-right: 1.5rem;

                &:nth-of-type(n + 2) {
                    padding-left: 1.5rem;
                }

                &::after {
                    content: '';
                    position: absolute;
                    top: 15px;
                    right: 0;
                    border-right: 5px solid #1A89DA;
                    height: 29px;
                }

                a {
                    text-decoration: none;
                    transition: .2s;
                    position: relative;
                    display: block;
                    padding: 12px 0;
                    color: #000;

                    &::after {
                        position: absolute;
                        left: 50%;
                        bottom: 0;
                        width: 0;
                        height: 3px;
                        content: '';
                        background: #1A89DA;
                        opacity: 0;
                        transition: all ease 0.3s;
                    }

                    &:hover {

                        &::after {
                            left: 0;
                            width: 100%;
                            opacity: 1;
                        }
                    }
                }
            }
        }

        i {
            font-size: 1.5rem;
            padding: 0 15px;
            color: #1A89DA;
        }

        .followings {

            a {

                &::before {
                    content: '';
                    background-image: url(/img/ico_follow.png);
                    background-repeat: no-repeat;
                    width: 54px;
                    height: 24px;
                    background-position: center center;
                    background-size: contain;
                    display: inline-block;
                    cursor: pointer;
                }
            }
        }

        .followers {

            a {

                &::before {
                    content: '';
                    background-image: url(/img/ico_follower.png);
                    background-repeat: no-repeat;
                    width: 54px;
                    height: 24px;
                    background-position: center center;
                    background-size: contain;
                    display: inline-block;
                    cursor: pointer;
                }
            }
        }

        // nav {}

        .before_auth {
            margin-left: -40px;
            display: flex;
            align-items: center;

            span {
                position: relative;
                padding-right: 1.5rem;

                &:nth-of-type(n + 2) {
                    padding-left: 1.5rem;
                }

                &::after {
                    content: '';
                    position: absolute;
                    top: 11px;
                    right: 0;
                    border-right: 5px solid #1A89DA;
                    height: 25px;
                }

                a {
                    text-decoration: none;
                    transition: .2s;
                    position: relative;
                    display: block;
                    padding: 12px 0;
                    color: #000;

                    &::after {
                        position: absolute;
                        left: 50%;
                        bottom: 0;
                        width: 0;
                        height: 3px;
                        content: '';
                        background: #1A89DA;
                        opacity: 0;
                        transition: all ease 0.3s;
                    }

                    &:hover {

                        &::after {
                            left: 0;
                            width: 100%;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    .responsive {
        display: none;
    }
}

.description.pc {
    background-color: rgba(26, 137, 218, .2);
    text-align: center;
    font-size: .9rem;
    height: 30px;
    line-height: 30px;
}

.description.sp {
    display: none;
}

.categories {
    border-bottom: 1px solid #ccc;
    height: 60px;

    ul {
        margin-top: 10px;
        margin-left: 20px;
        margin-right: auto;

        li {
            font-size: 1.2rem;
            position: relative;
            padding-right: 1.5rem;

            &:nth-of-type(n + 2) {
                padding-left: 1.5rem;
            }

            .pictogram {
                display: inline-block;
                height: 32px;
                padding-right: 5px;
            }

            &::after {
                content: '';
                position: absolute;
                top: 11px;
                right: 0;
                border-right: 5px solid #1A89DA;
                height: 30px;
            }

            &:nth-last-of-type(2) {
                margin-right: auto;
            }

            &:last-of-type {
                font-size: .9rem;
                align-items: end;
                height: 50px;
                display: flex;
                justify-content: end;

                &::after {
                    border-right: none;
                }
            }

            a {
                text-decoration: none;
                transition: .2s;
                position: relative;
                display: block;
                padding: 12px 0;
                color: #000;

                &::after {
                    position: absolute;
                    left: 50%;
                    bottom: 0;
                    width: 0;
                    height: 3px;
                    content: '';
                    background: #1A89DA;
                    opacity: 0;
                    transition: all ease 0.3s;
                }

                &:hover {

                    &::after {
                        left: 0;
                        width: 100%;
                        opacity: 1;
                    }
                }
            }
        }
    }
}

// トップページ

.mv.pc {
    margin: 0 auto;
    background-image: url('/img/mv.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    background-position: center 50%;
    background-size: cover;
    position: relative;
    z-index: 0;

    h2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 600;
        font-size: 3.5rem;
        color: #fff;
    }

    .new_recruits.pc {
        width: 90%;
        max-width: 1100px;
        margin: 0 auto;
        position: absolute;
        top: 165%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 20px;
        border-radius: 15px;
        border: 3px solid #1A89DA;

        .head {
            color: #1A89DA;
            font-weight: 600;
            font-size: 1.5rem;
            padding-bottom: 5px;
            border-bottom: 3px solid #1A89DA;

            span {
                font-size: .8rem;
                color: #555;
                margin-left: 10px;
            }
        }

        .recruit {
            margin: 20px 30px;
            position: relative;

            a {
                transition: .2s;

                &:hover {
                    background-color: rgba(26, 137, 218, .2);
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                }
            }

            .title {
                font-weight: 600;
                font-size: 1.5rem;
                padding: 5px;

                &::before {
                    content: 'NEW';
                    font-size: .9rem;
                    color: #fff;
                    background-color: #FF7171;
                    width: 50px;
                    height: 50px;
                    padding: 5px;
                    margin-right: 15px;
                    border-radius: 5px;
                }
            }

            .info {
                padding: 5px;
                font-size: 1.1rem;
                color: #555;
                border-bottom: 1px dotted #1A89DA;
                padding-bottom: 10px;
            }
        }

        .look_more {
            position: relative;
            height: 50px;

            &::before {
                content: 'もっと見る';
                position: absolute;
                width: 100%;
                left: 47%;
            }

            &::after {
                content: '\02228';
                position: absolute;
                font-size: 1.5rem;
                top: 50%;
                left: 49%;
            }
        }

        .look_more_link {

            a {

                p {
                    transition: .2s;
                    color: #1A89DA;
                    font-weight: 600;

                    &:hover {
                        transform: translate(0, 5px);
                    }
                }

            }
        }
    }

    // 新規ユーザー登録ページ

    #register_form {
        width: 1100px;
        margin: 0 auto;
        position: absolute;
        top: 136.8%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 20px;
        border-radius: 15px;
        border: 3px solid #1A89DA;

        .head {
            color: #1A89DA;
            font-weight: 600;
            font-size: 1.5rem;
            padding-bottom: 5px;
            border-bottom: 3px solid #1A89DA;
        }
    }

    // ユーザー登録完了ページ

    #register_comp {
        width: 1100px;
        height: 200px;
        margin: 0 auto;
        position: absolute;
        top: 97.3%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 20px;
        border-radius: 15px;
        border: 3px solid #1A89DA;

        .head {
            color: #1A89DA;
            font-weight: 600;
            font-size: 1.5rem;
            padding-bottom: 5px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    // ログインページ

    #login_form {
        width: 1100px;
        margin: 0 auto;
        position: absolute;
        top: 134.4%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 20px;
        border-radius: 15px;
        border: 3px solid #1A89DA;

        .head {
            color: #1A89DA;
            font-weight: 600;
            font-size: 1.5rem;
            padding-bottom: 5px;
            border-bottom: 3px solid #1A89DA;
        }
    }

    // パスワードリセットページ

    #pass_reset_form {
        width: 1100px;
        margin: 0 auto;
        position: absolute;
        top: 104.1%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 20px;
        border-radius: 15px;
        border: 3px solid #1A89DA;

        .head {
            color: #1A89DA;
            font-weight: 600;
            font-size: 1.5rem;
            padding-bottom: 5px;
            border-bottom: 3px solid #1A89DA;
        }
    }

}

// 検索結果一覧ページ

.search_head.pc {


    span {
        font-size: .8rem;
        color: #555;
        margin-left: 10px;

        .new {
            font-size: .9rem;
            color: #fff;
            background-color: #FF7171;
            width: 50px;
            height: 50px;
            padding: 5px;
            margin-left: 5px;
            margin-right: 5px;
            border-radius: 5px;
        }
    }
}

.search_box.pc {
    background-color: rgba(26, 137, 218, 0.2);
    width: 100%;
    height: 200px;
    padding: 27px 27px 27px 54px;

    .tables.pc {
        display: table;
        width: 100%;

        li {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
        }

        .selector.pc {
            width: 280px;
            padding-right: 12px;
            border-right: solid 1px #DDE8F5;

            .in_table.pc {
                display: table;
                width: 100%;

                .tr.pc {
                    display: table-row;

                    .tit.pc {
                        display: table-cell;
                        width: 65%;
                        padding-right: 12px;
                        font-size: 1rem;
                        color: #4F4F4F;
                        line-height: 3;
                        text-align: left;
                        white-space: nowrap;
                        font-weight: bold;
                    }

                    .selects.pc {
                        display: table-cell;

                        select {
                            width: 100%;
                            min-width: 200px;
                            cursor: pointer;
                            padding: 8px 48px 8px 10px;
                            margin-left: 20px;
                            border: none;
                            border-radius: 0;
                            background: #FFF url(/img/search_select_arrow_pc.png) no-repeat right;
                            background-size: auto;
                            background-size: 38px 60px;
                            font-family: sans-serif;
                            font-size: 14px;
                            font-size: 1rem;
                            line-height: 1.43;
                            box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.06);
                        }
                    }
                }
            }
        }

        .btns.pc {
            padding: 0 0 0 100px;

            input {
                width: 180px;
                padding: 11px 0;
                font-size: 14px;
                font-size: 1.4rem;
                font-weight: normal;
                cursor: pointer;
            }

            .btn.pc {
                display: block;
                margin: 0 auto;
                border: none;
                border-radius: 4px;
                background: #1A89DA;
                text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
                font-size: 12px;
                font-size: 1.2rem;
                font-weight: bold;
                color: #FFF !important;
                line-height: 1;
                text-align: center;
                outline: none;
                cursor: pointer;
                height: 70px;
                transition: .2s;

                &:hover {
                    background: #156faf;
                }
            }
        }
    }
}

#recruits {
    margin: 0 auto;
    background-color: #fff;
    padding: 20px 0;
    border-radius: 15px;

    .head {
        color: #1A89DA;
        font-weight: 600;
        font-size: 1.5rem;
        padding-bottom: 5px;
        border-bottom: 3px solid #1A89DA;

        span {
            font-size: .8rem;
            color: #555;
            margin-left: 10px;
        }
    }

    .recruit {
        margin: 2rem 30px 20px 30px;
        position: relative;

        a {
            transition: .2s;

            &:hover {
                background-color: rgba(26, 137, 218, .2);
                display: inline-block;
                width: 100%;
                height: 100%;
            }
        }

        .title {
            font-weight: 600;
            font-size: 1.5rem;
            padding: 5px;
        }

        .title_currentp1 {
            font-weight: 600;
            font-size: 1.5rem;
            padding: 5px;

            &::before {
                content: 'NEW';
                font-size: .9rem;
                color: #fff;
                background-color: #FF7171;
                width: 50px;
                height: 50px;
                padding: 5px;
                margin-right: 15px;
                border-radius: 5px;
            }
        }

        .info {
            padding: 5px 5px 10px 5px;
            font-size: 1.1rem;
            color: #555;
            border-bottom: 1px dotted #1A89DA;
        }
    }
}

// ユーザー詳細ページ

.tabs-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border-bottom: 3px solid #1A89DA;

    li {
        float: left;
        margin-right: 8px;
        margin-bottom: -1px;
        border: 1px solid #1A89DA;
        border-radius: 4px 4px 0 0;
        transition: all .2s;

        &:not(.active):hover {
            border-color: #f0f0f0 #f0f0f0 #999;
            background-color: rgba(26, 137, 218, 0.2);
        }
    }

    a {
        display: block;
        padding: 10px 20px;
        color: #000;
        text-decoration: none;
    }

    .active {
        border-color: #999 #999 transparent #999;
        background-color: #1A89DA;

        a {
            color: #fff;
        }
    }
}

.tabs-content {
    clear: both;
    padding: 10px;

    section:not(#followings) {
        display: none;
    }

    #followings {

        .following {
            padding: 5px 5px 10px 5px;
            font-size: 1.1rem;
            color: #555;
            border-bottom: 1px dotted #1A89DA;
            padding-bottom: 20px;
        }
    }

    #followers {

        .follower {
            padding: 5px 5px 10px 5px;
            font-size: 1.1rem;
            color: #555;
            border-bottom: 1px dotted #1A89DA;
            padding-bottom: 20px;
        }
    }

    #posts {

        .post {
            font-size: 1.1rem;
            color: #555;
            margin: 2rem 30px 20px 30px;
            position: relative;

            a {
                transition: .2s;

                &:hover {
                    background-color: rgba(26, 137, 218, .2);
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                }
            }

            .title {
                font-weight: 600;
                font-size: 1.5rem;
                padding: 5px;
            }

            .title_currentp1 {
                font-weight: 600;
                font-size: 1.5rem;
                padding: 5px;

                &::before {
                    content: 'NEW';
                    font-size: .9rem;
                    color: #fff;
                    background-color: #FF7171;
                    width: 50px;
                    height: 50px;
                    padding: 5px;
                    margin-right: 15px;
                    border-radius: 5px;
                }
            }

            .info {
                padding: 5px 5px 10px 5px;
                font-size: 1.1rem;
                color: #555;
                border-bottom: 1px dotted #1A89DA;
            }
        }
    }

    #bookmarks {

        .bookmark {
            font-size: 1.1rem;
            color: #555;
            margin: 2rem 30px 20px 30px;
            position: relative;

            a {
                transition: .2s;

                &:hover {
                    background-color: rgba(26, 137, 218, .2);
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                }
            }

            .title {
                font-weight: 600;
                font-size: 1.5rem;
                padding: 5px;
            }

            .title_currentp1 {
                font-weight: 600;
                font-size: 1.5rem;
                padding: 5px;

                &::before {
                    content: 'NEW';
                    font-size: .9rem;
                    color: #fff;
                    background-color: #FF7171;
                    width: 50px;
                    height: 50px;
                    padding: 5px;
                    margin-right: 15px;
                    border-radius: 5px;
                }
            }

            .info {
                padding: 5px 5px 10px 5px;
                font-size: 1.1rem;
                color: #555;
                border-bottom: 1px dotted #1A89DA;
            }
        }
    }

}

// メッセージ画面
.messages {


    #messages {

        .user {
            font-size: 1.1rem;
            color: #555;
            margin: 2rem 30px 20px 30px;
            position: relative;

            .user_msg_container {
                border-bottom: 1px dotted #1A89DA;
            }

            a {
                transition: .2s;

                .msg_img {
                    width: 100px;
                    height: 100px;
                    display: flex;
                    align-items: center;

                    img {
                        width: 100%;
                    }
                }

                &:hover {
                    background-color: rgba(26, 137, 218, .2);
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }


        }

        .message {
            font-size: 1.1rem;
            color: #555;
            margin: 2rem 30px 20px 30px;
            position: relative;

            &>div {
                border-bottom: 1px dotted #1A89DA;
            }

            .time {
                padding: 0 5px;
            }

            img {
                min-width: 100px;
                max-width: 100px;
                display: inline-block;
                margin-top: -10px;
            }
        }
    }
}



footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 130px;
    background-color: #1A89DA;

    small {
        display: block;
        margin-top: 20px;
        text-align: center;
        color: #fff;
    }

    // .categories {
    //     border-bottom: 1px solid #ccc;
    //     height: 60px;

    //     ul {
    //         margin-top: 10px;
    //         margin-left: 20px;
    //         margin-right: auto;

    //         li {
    //             font-size: .9rem;
    //             position: relative;
    //             padding-right: 1.5rem;

    //             &:nth-of-type(n + 2) {
    //                 padding-left: 1.5rem;
    //             }

    //             &::after {
    //                 content: '';
    //                 position: absolute;
    //                 top: 11px;
    //                 right: 0;
    //                 border-right: 3px solid #fff;
    //                 height: 23px;
    //             }

    //             &:nth-last-of-type(2) {
    //                 margin-right: auto;
    //             }

    //             &:last-of-type {
    //                 font-size: .9rem;
    //                 align-items: end;
    //                 height: 50px;
    //                 display: flex;
    //                 justify-content: end;

    //                 &::after {
    //                     border-right: none;
    //                 }
    //             }

    //             a {
    //                 text-decoration: none;
    //                 transition: .2s;
    //                 position: relative;
    //                 display: block;
    //                 padding: 12px 0;
    //                 color: #fff;

    //                 &::after {
    //                     position: absolute;
    //                     left: 50%;
    //                     bottom: 0;
    //                     width: 0;
    //                     height: 2px;
    //                     content: '';
    //                     background: #fff;
    //                     opacity: 0;
    //                     transition: all ease 0.3s;
    //                 }

    //                 &:hover {

    //                     &::after {
    //                         left: 0;
    //                         width: 100%;
    //                         opacity: 1;
    //                     }
    //                 }
    //             }
    //         }
    //     }
    // }
}

// 各ボタン

.bookmark_btn {
    top: -12px;
}

.edit {
    position: relative;
    width: 3rem;
    height: 40px;

    a {
        position: absolute;
        top: 0;
        left: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .2s;

        &:hover {
            background-color: rgb(78, 83, 94);
        }
    }
}

.destroy_ul {
    top: -6px;

    button {
        transition: .2s;

        &:hover {
            background-color: rgb(240, 12, 12);
        }
    }
}

.destroy_btn {
    position: relative;
    width: 3rem;
    height: 40px;

    button {
        position: absolute;
        top: 0;
        left: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .2s;

        &:hover {
            background-color: rgb(240, 12, 12);
        }
    }
}

.msg_btn {
    transition: .2s;

    &:hover {
        background-color: rgb(29, 168, 80);
    }
}


@media (max-width: 894px) {

    .br_sp {
        display: inline-block;
    }

    .pt-2rem {
        padding-top: 0;
    }

    .top_footer_wrap.sp {
        overflow-x: hidden;
        overflow-y: hidden;
        /* footerの高さ */
    }

    header {

        .pc.flexer {
            display: none;
        }

        .responsive {
            display: block;
            align-items: center;
            background-color: #fff;
            position: relative;

            h1 {
                background-color: #1A89DA;
                // max-width: 126px;
                padding: 20px;

                img {
                    margin-inline: auto;
                }
            }

            ul {
                margin-bottom: 1rem;
                display: flex;
                justify-content: center;

                li {
                    font-size: 1.5rem;
                    position: relative;
                    padding-right: 1.5rem;

                    &:nth-of-type(n + 2) {
                        padding-left: 1.5rem;
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        top: 15px;
                        right: 0;
                        border-right: 5px solid #1A89DA;
                        height: 29px;
                    }

                    a {
                        text-decoration: none;
                        transition: .2s;
                        position: relative;
                        display: block;
                        padding: 12px 0;
                        color: #000;

                        &::after {
                            position: absolute;
                            left: 50%;
                            bottom: 0;
                            width: 0;
                            height: 3px;
                            content: '';
                            background: #1A89DA;
                            opacity: 0;
                            transition: all ease 0.3s;
                        }

                        &:hover {

                            &::after {
                                left: 0;
                                width: 100%;
                                opacity: 1;
                            }
                        }
                    }
                }
            }

            .responsive_icon {
                display: flex;
                justify-content: center;

                i {
                    font-size: 1.5rem;
                    padding: 0 15px;
                    color: #1A89DA;
                }

                .ico_search {
                    display: none;
                }

                .followings {

                    a {

                        &::before {
                            content: '';
                            background-image: url(/img/ico_follow.png);
                            background-repeat: no-repeat;
                            width: 54px;
                            height: 24px;
                            background-position: center center;
                            background-size: contain;
                            display: inline-block;
                            cursor: pointer;
                        }
                    }
                }

                .followers {

                    a {

                        &::before {
                            content: '';
                            background-image: url(/img/ico_follower.png);
                            background-repeat: no-repeat;
                            width: 54px;
                            height: 24px;
                            background-position: center center;
                            background-size: contain;
                            display: inline-block;
                            cursor: pointer;
                        }
                    }
                }
            }

            // nav {}

            .before_auth {
                margin-top: -30px;
                margin-left: -40px;
                display: flex;
                align-items: center;

                span {
                    position: relative;
                    padding-right: 1.5rem;

                    &:nth-of-type(n + 2) {
                        padding-left: 1.5rem;
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        top: 11px;
                        right: 0;
                        border-right: 5px solid #1A89DA;
                        height: 25px;
                    }

                    a {
                        text-decoration: none;
                        transition: .2s;
                        position: relative;
                        display: block;
                        padding: 12px 0;
                        color: #000;

                        &::after {
                            position: absolute;
                            left: 50%;
                            bottom: 0;
                            width: 0;
                            height: 3px;
                            content: '';
                            background: #1A89DA;
                            opacity: 0;
                            transition: all ease 0.3s;
                        }

                        &:hover {

                            &::after {
                                left: 0;
                                width: 100%;
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }

        .description.sp {
            display: block;
            width: 100%;
            background-color: rgba(26, 137, 218, .2);
            text-align: center;
            font-size: .9rem;
            height: 30px;
            line-height: 30px;
        }

        .pc_desc_cat {
            display: none;
        }
    }

    .mv-new_recruits-container.sp {
        margin-bottom: 80%;

        .mv.sp {
            position: absolute;
            margin: 0 auto;
            background-image: url('/img/mv.jpg');
            background-repeat: no-repeat;
            width: 100%;
            height: 300px;
            background-size: cover;

            h2 {
                font-weight: 600;
                font-size: 3rem;
                color: #fff;
                width: 100%;
                text-align: center;
                margin-top: -15px;
            }


            .new_recruits.sp {
                position: static;
                margin-top: 230px;
                margin-bottom: 230px;
                width: 90%;
                background-color: #fff;
                padding: 20px;
                border-radius: 15px;
                border: 3px solid #1A89DA;
                transform: translate(0);

                .head {
                    color: #1A89DA;
                    font-weight: 600;
                    font-size: 1.5rem;
                    padding-bottom: 5px;
                    border-bottom: 3px solid #1A89DA;

                    span {
                        font-size: .8rem;
                        color: #555;
                        margin-left: 10px;
                    }
                }

                .recruit {
                    margin: 20px 30px;
                    position: relative;

                    a {
                        transition: .2s;

                        &:hover {
                            background-color: rgba(26, 137, 218, .2);
                            display: inline-block;
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .title {
                        font-weight: 600;
                        font-size: 1.5rem;
                        padding: 5px;

                        &::before {
                            content: 'NEW';
                            font-size: .9rem;
                            color: #fff;
                            background-color: #FF7171;
                            width: 50px;
                            height: 50px;
                            padding: 5px;
                            margin-right: 15px;
                            border-radius: 5px;
                        }
                    }

                    .info {
                        padding: 5px;
                        font-size: 1.1rem;
                        color: #555;
                        border-bottom: 1px dotted #1A89DA;
                        padding-bottom: 10px;
                    }
                }

                .look_more {
                    position: relative;
                    height: 50px;

                    &::before {
                        content: 'もっと見る';
                        position: absolute;
                        width: 100%;
                        left: 42.8%;
                    }

                    &::after {
                        content: '\02228';
                        position: absolute;
                        font-size: 1.5rem;
                        top: 50%;
                        left: 47%;
                    }
                }

                .look_more_link {

                    a {

                        p {
                            transition: .2s;
                            color: #1A89DA;
                            font-weight: 600;

                            &:hover {
                                transform: translate(0, 5px);
                            }
                        }

                    }
                }
            }
        }

        // 新規ユーザー登録ページ

        #register_form {
            width: 1100px;
            margin: 0 auto;
            position: absolute;
            top: 136.8%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #fff;
            padding: 20px;
            border-radius: 15px;
            border: 3px solid #1A89DA;

            .head {
                color: #1A89DA;
                font-weight: 600;
                font-size: 1.5rem;
                padding-bottom: 5px;
                border-bottom: 3px solid #1A89DA;
            }
        }

        // ユーザー登録完了ページ

        #register_comp {
            width: 1100px;
            height: 200px;
            margin: 0 auto;
            position: absolute;
            top: 97.3%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #fff;
            padding: 20px;
            border-radius: 15px;
            border: 3px solid #1A89DA;

            .head {
                color: #1A89DA;
                font-weight: 600;
                font-size: 1.5rem;
                padding-bottom: 5px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        // ログインページ

        #login_form {
            width: 1100px;
            margin: 0 auto;
            position: absolute;
            top: 134.4%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #fff;
            padding: 20px;
            border-radius: 15px;
            border: 3px solid #1A89DA;

            .head {
                color: #1A89DA;
                font-weight: 600;
                font-size: 1.5rem;
                padding-bottom: 5px;
                border-bottom: 3px solid #1A89DA;
            }
        }

        // パスワードリセットページ

        #pass_reset_form {
            width: 1100px;
            margin: 0 auto;
            position: absolute;
            top: 104.1%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #fff;
            padding: 20px;
            border-radius: 15px;
            border: 3px solid #1A89DA;

            .head {
                color: #1A89DA;
                font-weight: 600;
                font-size: 1.5rem;
                padding-bottom: 5px;
                border-bottom: 3px solid #1A89DA;
            }
        }
    }

    // 検索結果ページ

    .search_head.sp {
        margin-top: 35px;

        span {
            font-size: .8rem;
            color: #555;
            margin-left: 10px;

            .new {
                font-size: .9rem;
                color: #fff;
                background-color: #FF7171;
                width: 50px;
                height: 50px;
                padding: 5px;
                margin-left: 5px;
                margin-right: 5px;
                border-radius: 5px;
            }
        }
    }

    .search_box.sp {
        background-color: rgba(26, 137, 218, 0.2);
        width: 100%;
        height: 300px;
        padding: 0;

        .tables.sp {
            display: block;
            width: 100%;
            padding: 20px 0;

            li {
                display: block;
                text-align: center;
            }

            .selector.sp {
                width: 280px;
                padding-right: 0;
                border-right: solid 1px #DDE8F5;
                margin-inline: auto;

                .in_table.sp {
                    display: block;
                    width: 100%;

                    .tr.sp {
                        display: block;

                        .tit.sp {
                            display: table-cell;
                            font-size: 1rem;
                            color: #4F4F4F;
                            line-height: 3;
                            text-align: left;
                            white-space: nowrap;
                            font-weight: bold;
                            padding-right: 0;
                        }

                        .selects.sp {
                            display: table-cell;

                            select {
                                width: 100%;
                                min-width: 200px;
                                cursor: pointer;
                                padding: 8px 48px 8px 10px;
                                margin-left: 0;
                                border: none;
                                border-radius: 0;
                                background: #FFF url(/img/search_select_arrow_pc.png) no-repeat right;
                                background-size: auto;
                                background-size: 38px 60px;
                                font-family: sans-serif;
                                font-size: 14px;
                                font-size: 1rem;
                                line-height: 1.43;
                                box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.06);
                            }
                        }
                    }
                }
            }

            .btns.sp {
                padding: 0;
                display: block;

                input {
                    width: 180px;
                    margin-inline: auto;
                    padding: 11px 0;
                    font-size: 14px;
                    font-size: 1.4rem;
                    font-weight: normal;
                    cursor: pointer;
                }

                .btn.sp {
                    display: block;
                    margin: 40px auto 0 auto;
                    border: none;
                    border-radius: 4px;
                    background: #1A89DA;
                    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
                    font-size: 12px;
                    font-size: 1.2rem;
                    font-weight: bold;
                    color: #FFF !important;
                    line-height: 1;
                    text-align: center;
                    outline: none;
                    cursor: pointer;
                    height: 70px;
                    transition: .2s;

                    &:hover {
                        background: #156faf;
                    }
                }
            }
        }
    }
}

@media(min-width:895px) and (max-width:1271px) {
    .categories {
        height: 85px;

        .a_895-1271 {
            text-align: center;

            .br_895-1271 {
                display: block;
            }
        }
    }

}

@media(min-width:1272px) {
    .br_895-1271 {
        display: none;
    }
}